@charset "utf-8";

#wrap{}

/* header영역 */
#header{
    background-color: white;
    color: black;
}

.head_inner{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 78px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.select_language{
    /* border: 1px solid red; */
    width: 25%;
    text-align: left;
    font-size: 1.1em;
    position: relative;
    padding-top: 10px;
}

.select_language .lang_click{
    font-size: 13px;
}

.select_language .lang_click i{
    position: absolute;
    top: 15px;
    left: 80px;
}

.select_language .lang_click i.icon-angle-up{
    opacity: 0;
}

.select_language.show .lang_click i.icon-angle-up{
    opacity: 1;
}

.select_language .lang_click i.icon-angle-down{}

.select_language.show .lang_click i.icon-angle-down{
    opacity: 0;
}

.select_language.show .select_lang_list{
    visibility: visible;
    /* -display: block; */
}

.select_lang_list{
    width: 85%;
    border: 1px solid #222;
    background-color: white;
    /* padding: 10px; */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 40px;
    visibility: hidden;
    /* -display: none; */
}

.select_lang_list li:first-child{
    margin-top: 15px;
    background-color: #eee;
}

.select_lang_list li:last-child{
    margin-bottom: 15px;
}

.select_lang_list li a{
    display: block;
    padding: 5px 10px;
    font-size: 13px;
}

.select_lang_list li a:hover{
    background-color: #eee;
}



.logo{
    /* border: 1px solid black; */
    align-self: center;
}
.logo a{position: relative;}
.logo a img:last-child{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.head_link{
    width: 25%;
    padding-top: 10px;
    text-align: right;
}

.head_link a{
    display: inline-block;
    margin: 0 5px;
    font-size: 13px;
}

.head_link a.h_search{
    /* border: 1px solid red; */
}

.h_search{
    position: relative;
}

/* .head_link a.h_search img:last-child{
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
} */

/* .h_search img:last-child{
    opacity: 0;
} */



#header:hover{
    background-color: white;
    color: black;
}

#header:hover .logo a img:last-child{
    opacity: 1;
}

#header:hover .logo a img:first-child{
    opacity: 0;
}

/* #header:hover .h_search img:last-child{
    opacity: 1;
}

#header:hover .h_search img:first-child{
    opacity: 0;
}
 */



/* nav영역*/
.nav{}

.nav_inner{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.gnb_menu{
    display: flex;
    justify-content: center;
    height: 50px;
    position: relative;
    /* overflow: hidden; */
}

.gnb_menu > li{
    padding: 5px 20px;
}

.gnb_menu > li > a{
    display: block;
    font-size: 14px;
}

.gnb_menu > li > a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

.sub{
    width: 100%;
    height: 30px;
    border-top: 1px solid #ddd;
}

.sub li{
    padding: 8px 20px;
}

.sub li a{
    display: block;
    font-size: 13px;
}

.sub li a:hover{
    font-weight: bold;
}

.sub.sub2{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    position: absolute;
    left: 0;
    top: 30px;
}

.sub.sub3{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    position: absolute;
    left: 0;
    top: 30px;
}

.sub.sub4{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    position: absolute;
    left: 0;
    top: 30px;
    padding-left: 210px;
}

.sub.sub5{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    position: absolute;
    left: 0;
    top: 30px;
    padding-left: 360px;
}











/* main영역 */
#main{}


/*  main_visual 영역 */
.main_visual{}

.visual_wrap{
    width: 1920px;
    height: 550px;
    margin: 0 auto;
}

.visual_wrap .slick-slide{}


.visu_slide{
    width: 1920px;
    height: 550px;
    position: relative;
}

.visu_slide1{
    background: url("../img/visu_pc_01.jpg") no-repeat !important;
}
.visu_slide2{
    background: url("../img/visu_pc_02.jpg") no-repeat !important;
}
.visu_slide3{
    background: url("../img/visu_pc_03.jpg") no-repeat !important;
}

.visu_viewer{
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.visu_txt_wrap{
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
}

.visu_txt_cont{
    width: 80%;
    font-size: 40px;
    color: white;
    text-align: right;
    padding-top: 100px;
    line-height: 60px;
}

.visu_txt_sub01{
    text-align: right;
    color: white;
    width: 80%;
    font-size: 18px;
    padding: 50px 0;
}

.visu_txt_sub02{
    color: white;
    width: 80%;
    text-align: right;
    font-size: 20px;
}

.visu_btn_wrap{
    width: 80%;
    text-align: right;
    margin-top: 20px;
}

.btn_view{
    display: inline-block;
    color: white;
    border: 1px solid white;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.visual_wrap .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.visual_wrap .slick-dots li{
    display: inline-block;
    margin: 0 10px;
}

.visual_wrap .slick-dots li button{
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    border-radius: 10px;
    border: none;
    background-color: white;
    transition: all 0.5s;
}

.visual_wrap .slick-dots li.slick-active button{
    width: 40px;
    background-color: #de6129;
}

.visual_wrap .slick-arrow{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 600;
    text-indent:-99999px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.visual_wrap .slick-arrow.slick-prev{
    background-image: url("../img/reco-arr-prev.png");
    left: 100px;
}

.visual_wrap .slick-arrow.slick-next{
    background-image: url("../img/reco-arr-next.png");
    right: 100px;
}