@charset "utf-8";

#wrap{overflow-x: hidden;}

/* header영역 */
#header{
    background-color: white;
    color: black;
}

.head_inner{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 78px;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}


/* 모바일용 햄버거버튼 */
.mob_nav_btn{display: none;}

.mob_nav{display: none;}

.select_language{
    /* border: 1px solid red; */
    width: 25%;
    text-align: left;
    font-size: 1.1em;
    position: relative;
    padding-top: 10px;
    z-index: 1000;
}

.select_language .lang_click{
    font-size: 13px;
}

.select_language .lang_click i{
    position: absolute;
    top: 15px;
    left: 80px;
}

.select_language .lang_click i.icon-angle-up{
    opacity: 0;
}

.select_language.show .lang_click i.icon-angle-up{
    opacity: 1;
}

.select_language .lang_click i.icon-angle-down{}

.select_language.show .lang_click i.icon-angle-down{
    opacity: 0;
}

.select_language.show .select_lang_list{
    visibility: visible;
    /* -display: block; */
}

.select_lang_list{
    width: 85%;
    border: 1px solid #222;
    background-color: white;
    /* padding: 10px; */
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 40px;
    visibility: hidden;
    /* -display: none; */
}

.select_lang_list li:first-child{
    margin-top: 15px;
    background-color: #eee;
}

.select_lang_list li:last-child{
    margin-bottom: 15px;
}

.select_lang_list li a{
    display: block;
    padding: 5px 10px;
    font-size: 13px;
}

.select_lang_list li a:hover{
    background-color: #eee;
}



.logo{
    /* border: 1px solid black; */
    align-self: center;
}
.logo a{position: relative;}
.logo a img:last-child{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.head_link{
    width: 25%;
    padding-top: 10px;
    text-align: right;
}

.head_link a{
    display: inline-block;
    margin: 0 5px;
    font-size: 13px;
}

.head_link a.h_search{
    /* border: 1px solid red; */
}

.h_search{
    position: relative;
}

/* .head_link a.h_search img:last-child{
    width: 90%;
    position: absolute;
    left: 0;
    top: 0;
} */

/* .h_search img:last-child{
    opacity: 0;
} */



#header:hover{
    background-color: white;
    color: black;
}

#header:hover .logo a img:last-child{
    opacity: 1;
}

#header:hover .logo a img:first-child{
    opacity: 0;
}

/* #header:hover .h_search img:last-child{
    opacity: 1;
}

#header:hover .h_search img:first-child{
    opacity: 0;
}
 */



/* nav영역*/
.nav{}

.nav_inner{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
}

.gnb_menu{
    display: flex;
    justify-content: center;
    height: 50px;
    position: relative;
    /* overflow: hidden; */
}

.gnb_menu > li{
    padding: 5px 20px;
}

.gnb_menu > li > a{
    display: block;
    font-size: 14px;
}

.gnb_menu > li > a:hover{
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
}

.sub{
    width: 100%;
    height: 30px;
    border-top: 1px solid #ddd;
}

.sub li{
    padding: 8px 20px;
}

.sub li a{
    display: block;
    font-size: 13px;
}

.sub li a:hover{
    font-weight: bold;
}

.sub.sub2{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    position: absolute;
    left: 0;
    top: 30px;
}

.sub.sub3{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    position: absolute;
    left: 0;
    top: 30px;
}

.sub.sub4{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    position: absolute;
    left: 0;
    top: 30px;
    padding-left: 210px;
}

.sub.sub5{
    display: flex;
    justify-content: center;
    max-width: 1100px;
    position: absolute;
    left: 0;
    top: 30px;
    padding-left: 360px;
}











/* main영역 */
#main{}


/*  main_visual 영역 */
.main_visual{}

.visual_wrap{
    width: 1920px;
    height: 550px;
    margin: 0 auto;
}

.visual_wrap .slick-slide{}


.visu_slide{
    width: 1920px;
    height: 550px;
    position: relative;
}

.visu_slide1{
    background: url("../img/visu_pc_01.jpg") no-repeat !important;
}
.visu_slide2{
    background: url("../img/visu_pc_02.jpg") no-repeat !important;
}
.visu_slide3{
    background: url("../img/visu_pc_03.jpg") no-repeat !important;
}

.visu_viewer{
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}

.visu_txt_wrap{
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
}

.visu_txt_cont{
    width: 80%;
    font-size: 40px;
    color: white;
    text-align: right;
    padding-top: 100px;
    line-height: 60px;
}

.visu_txt_sub01{
    text-align: right;
    color: white;
    width: 80%;
    font-size: 18px;
    padding: 50px 0;
}

.visu_txt_sub02{
    color: white;
    width: 80%;
    text-align: right;
    font-size: 20px;
}

.visu_btn_wrap{
    width: 80%;
    text-align: right;
    margin-top: 20px;
}

.btn_view{
    display: inline-block;
    color: white;
    border: 1px solid white;
    width: 130px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.visual_wrap .slick-dots{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.visual_wrap .slick-dots li{
    display: inline-block;
    margin: 0 10px;
}

.visual_wrap .slick-dots li button{
    display: block;
    width: 20px;
    height: 20px;
    text-indent: -9999px;
    border-radius: 10px;
    border: none;
    background-color: white;
    transition: all 0.5s;
}

.visual_wrap .slick-dots li.slick-active button{
    width: 40px;
    background-color: #de6129;
}

.visual_wrap .slick-arrow{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 600;
    text-indent:-99999px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.visual_wrap .slick-arrow.slick-prev{
    background-image: url("../img/reco-arr-prev.png");
    left: 100px;
}

.visual_wrap .slick-arrow.slick-next{
    background-image: url("../img/reco-arr-next.png");
    right: 100px;
}

















/* content 영역 */
.content{
    width: 1440px;
    margin: 0 auto;
}

.recommand{
    margin-top: 100px;
}

.cont_title{
    text-align: center;
    font-size: 28px;
    padding-bottom: 30px;
    font-weight: 500;
}

.recommand_tab{
    width: 700px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.recommand_tab a{
    width: calc(100% / 3);
    text-align: center;
    font-size: 18px;
    line-height: 42px;
    border-bottom: 2px solid #eee;
}

.btn_tab.on{
    border-bottom: 2px solid #de6129;
    font-weight: bold;
}

.recommand_list_wrap{
    /* border: 1px solid violet; */
}

.recommand_list{
    /* display: flex; */
    display: none;
}

.recommand_list.act{
    display: flex;
}

.recommand_list li{
    width: 25%;
    padding: 24px 35px 0;
    position: relative;
}

.recommand_img{}

.recommand_name{
    text-align: center;
    font-size: 18px;
    padding: 0 0 25px;
}

.buy_view_layer{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255,255,255,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    opacity: 0;
    cursor: pointer;
}

.buy_view_layer:hover{
    background-color: #ee703644;
    opacity: 1;
}

.buy_view{
    display: block;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid black;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
}










/* picker, beauty 영역 */
.lou{
    margin-top: 70px;
    padding: 0 90px;
}

.picker_cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.picker_txt_wrap{
    width: calc(100% - 650px);
}


.picker_txt_wrap h3{
    font-size: 1.9vw;
    color: #f36e30;
    border-bottom: 1px solid dimgray;
    line-height: 2.5;
}

.picker_txt_wrap .sub_tit{
    font-size: 2.2vw;
    line-height: 2;
    margin: 40px 0;
}

.picker_txt_wrap .desc{
    font-size: 18px;
    line-height: 35px;
    color: #333;
    margin-bottom: 50px;
}

.btn_wrap{}

.btn_wrap .btn_wrap_view{
    display: inline-block;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #555;
}

.beauty .picker_img{order: 2;}
.beauty .picker_txt_wrap{order: 1;}













/* flagship영역 */
.flagship{
    margin: 100px auto;
    position: relative;
}

.flag_slide .slick-dots{
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
}

.flag_slide .slick-dots li{
    display: inline-block;
    margin: 0 10px;
}

.flag_slide .slick-dots li button{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    text-indent: -9999px;
    cursor: pointer;
    border: none;
    background-color: #ccc;
}

.flag_slide .slick-dots li.slick-active button{
    background-color: #f36e30;
}

.flag_slide .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 600;
    width: 45px;
    height: 79px;
    text-indent: -99999px;
    border: none;
    background-color: rgba(255, 255, 255, .7);
    cursor: pointer;
}

.flag_slide .slick-arrow.slick-prev{
    background-image: url("../img/flag-arr-prev.png");
}
.flag_slide .slick-arrow.slick-next{
    background-image: url("../img/flag-arr-next.png");
    right: 0;
}

.flag_txt_wrap{
    width: 364px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flag_txt_wrap p{
    font-size: 18px;
    color: #555;
    line-height: 30px;
}

.flag_txt_wrap_view{
    display: inline-block;
    width: 170px;
    height: 40px;
    line-height: 40px;
    border: 1px solid black;
    margin-top: 50px;
}











/* footer영역 */
#footer{}

.f_1{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; 
}

.foot_inner{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px 0;
    /* display: flex;
    justify-content: space-between; */
    
}

.f_left{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.f_left a{
    display: inline-block;
    margin-right: 10px;
    padding: 3px 0;
    color: #666;
    font-size: 13px;
}

.f_left a:hover{
    text-decoration: underline;
    color: black;
}

.f_item_wrap a::after{
    content: "|";
    color: #666;
    margin-left: 15px;
}

.f_item_wrap a:last-child::after{
    display: none;
}

.f_bottom{
    font-size: 13px;
    color: #666;
}

.f_bottom .copy{
    padding: 10px 0;
}

.f_bottom .copy:hover{
    color: black;
}