@charset "utf-8";

/* 태블릿 */
@media screen and (max-width:768px) {
    
    .head_inner{
        height: 50px;
        /* background-color: red; */
        position: relative;
    }

    .mob_nav_btn{
        display: block;
        width: 20px;
        height: 20px;
        position: absolute;
        left: 20px;
        top: 25px;
        z-index: 10;
        border: 1px solid black;
    }

    .mob_nav_btn i{
        display: block;
        width: 100%;
        height: 2px;
        background-color: dimgray;
        position: relative;
    }

    .mob_nav_btn i::before{
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: dimgray;
        position: absolute;
        /* top: 7px; */
        top: 7px;
    } 

    .mob_nav_btn i::after{
        display: block;
        content: "";
        width: 100%;
        height: 2px;
        background-color: dimgray;
        position: absolute;
        /* top: 16px; */
        top: -7px;
    }

    .select_language{
        display: none;
    }

    .logo{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
    }

    .logo a img{
        width: 140px;
    }

    #header:hover .logo a img:first-child{
        opacity: 1;
    }
    #header:hover .logo a img:last-child{
        opacity: 0;
    }

    .head_link{
        position: absolute;
        right: 10px;
        top: 0;
    }

    .head_link a{
        display: none;
    }

    .head_link a.h_search{
        display: block;
        font-size: 20px;
    }

    .nav{display: none;}

    .mob_nav{
        display: block;
        width: 300px;
        height: 100%;
        background-color: white;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 2000;
        transition: all 0.5s ease-in-out;
    }

    .mob_nav.left_move{
        left: 0;
    }

    .m_nav_bg{
        width: calc(100% - 300px);
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        position: fixed;
        left: 300px;
        top: 0;
        display: none;
    }

    .m_nav_wrap{}

    .side_nav_logo{
        /* text-align: center; */
        padding: 15px;
    }

    .side_nav_logo img{
        width: 150px;
    }

    .m_nav_list{
        border-top: 1px solid #999;
    }

    .m_nav_list > li{}
    .m_nav_list > li > a{ 
        display: block;
        color: #333;
        font-size: 20px;
        font-weight: bold;
        padding: 10px 15px;
        position: relative;
    }

    .icon-nav{
        display: block;
        width: 14px;
        height: 14px;
        /* border: 1px solid red; */
        position: absolute;
        right: 15px;    
        top: 50%;
        transform: translateY(-50%);
    }

    .icon-nav::before{
        content: "";
        width: 100%;
        height: 2px;
        background-color: dimgray;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) ;
        margin-left: 0;
    }

    .icon-nav::after{
        content: "";
        width: 100%;
        height: 2px;
        background-color: dimgray;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .m_nav_list > li > a.on  .icon-nav::after{
        transform: translate(-50%, -50%) rotate(90deg);
        transition: all 0.3s;
    }

    .m_sub{
        background-color: rgba(253, 245, 236, 0.473);
        display: none;
    }
    .m_sub li{
        border-bottom: 1px solid #999;
        line-height: 1.6;
        margin: 10px 30px;
    }

    .m_sub li:last-child{
        border-bottom: none;
    }

    .m_sub li a{
        display: block;
        color: #555;
        font-size: 17px;
        padding: 10px;
    }




    /* .main_visual{
        width: 100%;
    } */

    .visual_wrap{
        width: 100%;
        height: 864px;
        background-color: #eee;
    }

    .visu_slide{
        width: 100%;
        height: 864px;
    }

    .visu_slide1{
        background: url("../img/visu_mo_01.jpg") no-repeat !important;
        background-size: cover;
        background-position: center center;
    }
    .visu_slide2{
        background: url("../img/visu_mo_02.jpg") no-repeat !important;
        background-size: cover;
        background-position: center center;
    }
    .visu_slide3{
        background: url("../img/visu_mo_03.jpg") no-repeat !important;
        background-size: cover;
        background-position: center center;
    }

    .visu_viewer{
        width: 100%;
        height: 150px;
        left: 0;
        top: 715px;
        background-color: rgba(250, 139, 94, 0.5);
    }

    .visu_txt_wrap{
        width: 100%;
        height: 150px;  
        left: 0;
        top: 715px;
    }

    .visu_txt_cont{
        font-size: 20px;
        padding-top: 20px;
        text-align: center;
        line-height: 40px;
        margin: 0 auto;
    }

    .visu_txt_sub01{
        font-size: 15px;
        text-align: center;
        margin: 0 auto;
        padding: 15px 0;
    }

    .visu_txt_sub02{display: none;}

    .btn_view{display: none;}

    .visual_wrap .slick-dots{
        bottom: -40px;
    }

    .visual_wrap .slick-dots li button{
        height: 10px;
        background-color: #eee;
    }

    .visual_wrap .slick-arrow{
        top: 890px;
        width: 20px;
        height: 20px;
        /* background-size: cover; */
        background-color: rgba(0, 0, 0, .1);
    }




    /* content 영역 */
    .content{
        width: auto;
    }

    .cont_title{
        font-size: 23px;
    }

    .recommand_tab{
        width: auto;
    }

    .recommand_list.act{
        flex-wrap: wrap;
    }

    .recommand_list li{
        width: 50%;
        padding: 0 10px;
        height: 50vw;
        margin-bottom: 3vw;
    }
    
    .recommand_img{
        border: 1px solid #eee;
        height: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .recommand_img img{
        width: auto;
        height: 35vw;
    }

    .recommand_name{
        font-size: 2.5vw;
        margin-top: -6vw;
    }

    .buy_view_layer:hover{
        opacity: 0;
    }




/* picker, beauty 영역 */
    .lou{
        padding: 10vw;
        margin-top: 20px;
    }

    .picker_cont{
        height: auto;
        flex-wrap: wrap;
    }

    .picker_cont img{
        width: 100%;
    }

    .picker_txt_wrap{
        width: 100%;
    }

    .picker_txt_wrap h3{
        font-size: 4vw;
    }

    .picker_txt_wrap .sub_tit{
        font-size: 6vw;
        margin: 3vw 0;
    }

    .picker_txt_wrap .desc{
        font-size: 3vw;
        margin: 6vw 0 3vw;
        letter-spacing: -1px;
    }

    .beauty .picker_img {
        order:1;
    }
    .beauty .picker_txt_wrap {
        order:2;
    }





/* flagship 영역 */
    .flagship {
        margin: 5vw 0;
    }

    .flag_txt_wrap {
        position: static;
        width: 100%;
        height: 50vw;
        background-image: url("../img/flag-bg-txt-mo.jpg");
        background-repeat: no-repeat;

    }
        



/* footer 영역 */
    #footer{}

    .foot_inner{padding: 0;}

    .f_item_wrap{display: none;} 

    .f_icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 3vw;
    }

    /* .f_right a i{font-size:4vw;} */

    .f_icon a:first-child {display: none;}

    .f_bottom{ 
        background-color: rgba(253, 245, 236, 0.473);
        padding: 20px;
    }

    .copy{display: none;}
    
    .m_f_copy{
        display: inline-block;
        text-align: center;
        font-size: 1.5em;
        position: relative;
    }

    .f_bottom p:first-child{display: none;}

    .m_f_copy a{
        display: inline-block;
        position: absolute;
        text-indent: -9999px;
        width: 31px;
        height: 18px;
        background-image: url("../img/ico_arr_footer_down.png");
        bottom: 0;
        margin-left: 10px;
        transition: all 1s;
    }
    .m_f_copy a.m_f_up{
        opacity: 1;
        transform: rotate(0);
    }
    .m_f_copy a.m_f_down{
        opacity: 0;
        transform: rotate(180deg);
    }
    .m_f_copy:hover .m_f_up{
        opacity: 0;
    }
    .m_f_copy:hover .m_f_down{
        opacity: 1;
    }

    .m_foot{
        /* display: block; */
        position: relative;
        background-color: rgba(253, 245, 236, 0.473);
        border-top: 1px solid #eee;
        display: none;
    }

    .m_f_item_wrap{
        font-size: 1em;
        padding: 20px;
        line-height: 2;
    }
    .m_f_item_wrap a::after{
        content: "|";
        color: #666;
        margin-left: 15px;
    }
    
    .m_f_item_wrap a:last-child::after{
        display: none;
    }
    
    .m_f_bottom{
        padding: 5px 20px;
        color: gray;
        line-height: 2;
    }

    .m_f_icon{
        position: absolute;
        right: 60px;
        bottom: 40px;
        transform: scale(2);
    }
    
}/* 태블릿 max-width:768px*/





















/* 모바일 */
@media screen and (min-width:599px) {
    
}